/* allow using an icon font instead of the images from jQuery UI */
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
.fontawesome .ui-icon{
	background-image:none !important;
	text-indent: 0 !important;
	margin-top: -0.5em !important;
}
.fontawesome .ui-icon span{
	text-indent: -99999px; /* move text for icon replacement */
}
.ui-flexcal.ui-datepicker table td {
	width: 2em;
}
.multicalendar .ui-flexcal.ui-datepicker table td { /* bigger calendar boxes with room for more tabs on top */
	width: 3.5em;
}
.ui-flexcal-container {
	position: relative;
	overflow: hidden;
}
.ui-flexcal-pane {
position: absolute;
	left: 0em; /* IE seems to require this, as its left: auto centers it */
}
.ui-flexcal .ui-tabs-nav {
	margin-bottom: 0.2em !important;
}
.ui-flexcal.ui-tabs .ui-tabs-nav li a {
padding: 0.1em 1em; /* tabs should be smaller */
}
.ui-flexcal .ui-tabs-selected a:hover { /* any other stylesheet that styles a's needs to be overridden */
	border: none !important;
	color: inherit !important;
}
.ui-flexcal.ui-datepicker table {
	width: auto !important;
	position: absolute; /* for accurate width measurements */
	left: 0;
}
.ui-flexcal.ui-datepicker th {
	padding: 0.1em 0.3em !important;
}
.ui-flexcal.ui-datepicker {
	width: auto !important;
	display: block !important; /* the 1.9 UI has a display: none; we don't want that */
}
.ui-flexcal.ui-datepicker table caption {
	font-size: 1.2em;
}
.ui-flexcal.ui-datepicker td a.ui-state-disabled {
	border: 1px solid transparent; /* to keep the boxes the same size as the active ones */
}
.ui-flexcal-buttonpane:empty {
	margin: 0;
	border: none;
}
.ui-flexcal-buttonpane {
	margin: 0.2em 0 0 0;
	padding: 0.2em;
	border-top: 1px solid #aaaaaa;
}

.ui-flexcal .go {
	z-index: 1;
	font-size: 0.90em;
}
.ui-flexcal .go.ui-state-hover {
	top: 1px;
}
.ui-flexcal .go.ui-state-hover.ui-datepicker-prev {
	left: 1px;
}
.ui-flexcal .go.ui-state-hover.ui-datepicker-next {
	right: 1px;
}
.ui-flexcal .ui-state-hover {
	cursor: pointer;
}