/* allow using an icon font instead of the images from jQuery UI */
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");


.flexcalpage.ui-datepicker {
	display: inline-block; /* the datepicker css starts out display: none */
	z-index: 0; /* establish a stacking context */
	padding: 0.2em;
	width: auto;
}

.flexcalpage table {
	border: none;
	position: relative; /* for accurate width measurements */
}

.flexcalpage th {
	padding: 0.1em 0.3em;
	box-sizing: border-box; /* makes calculating widths easier */
}
.flexcalpage th span {
	display: inline-block;
	min-width: 1.8em; /* td's themselves do not respect widths */
}
.flexcalpage .go , .flexcalpage .commit {
	cursor: pointer;
}
.flexcalpage .hidden {
	visibility: hidden;
}